#main_header {
    
    width:240px;
    height:50px;
    margin-bottom: 3%;
    cursor: pointer;
    display: inline-block;
    float: left;
}

body {
	width: 80%;
	min-height: 1000px;
	height: 100%;
	margin-left: 10%;
	margin-right: 10%;
}

#header{
	margin-top: 5%;
	min-height: 50px;
	height: auto;
	display: inline-block;
	width: 100%;
	margin-bottom: -2%;
}

.main_button {
	border: 0;
	outline: 0;
	background-color: white;
	color: gray;
	font-family : sans-serif;
	width: 10%;
	height: auto;
	float: right;
	margin-top: 2.5%;
	cursor: pointer;
}

.MenuButton {
	width: 100%;
	height: 31px;
	background-color: #0C443E;
	display: block;
	margin-top: 2%;
	
}

h6 {
	display: none;
}
#imgArea {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.MainShoesImg {
	width: 200px;
	height: 200px;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 5%;
	display: inline-block;
	 
}
.menubar {
	display: inline-block;
	width: 16.1%;
	height: 31px;
	float: left;
	color: white;
	cursor: pointer;
	margin: 2px;
	text-align: center;
}

#sandle {
	cursor: pointer;
}

#gudu {
	cursor: pointer;
}

#boots {
	cursor: pointer;
}

#walker {
	cursor: pointer;
}

#theothers {
	cursor: pointer;
}

#Join_area {
	margin-left: 10%;
	margin-right: 50%;
	margin-top: 11%;
	width: 80%;
	min-height: 350px;
	height: auto;
	background-color: #E8E6E6;
	display: block;
}

#shoes_img_area {
	width: 100%;
	height: 340px;
	margin-top: 2%;
}
.shoes_img {
	width: 350px;
	height: 300px;
	display: inline-block;
	margin-bootom: 20px;
	
}

#shoes1_img {
	float: left;
	margin-left: 5%;
	
}
#shoes2_img {
	float: right;
	margin-right: 5%;
	
}
.join {
  width: 600px;
  border: 1px solid black;
  margin-left: 25%;
  margin-right: 25%;
}

#join_title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 90px;

}

#join_name_block {
  text-align: center;
  width: 100%;
  margin-top: 8%;
  margin-left: -15%;
  margin-bottom: 30px;
  display: inline-block;
  font-family : sans-serif;
  
}
#join_name {
	width: 30%;
	margin-left: 4%;
	text-indent: 5px;
	height: 24px;
	border: 0.5px solid #0C443E;
}
#CheckID {
  height: 24px;
  text-align: center;
  width: 10%;
  margin-left: 2%;
  cursor: pointer;
  display: inline-block;
  border: 0;
  outline: 0;
  color: white;
  font-family : sans-serif;
  
  background-color: #0C443E;
}

.checkName {
  font-family : sans-serif;
  height: 18px; 
}

.reset_textarea{
	margin-left: 8.3%;
	display: inline-block;
	width: 100%;
	font-family : sans-serif;
}
#join_select_block {
	
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #63380C;
}

.search_shoes {
  margin-bottom: 30px;
  display: inline-block;
  width: 30%;
	margin-left: 4%;
	text-indent: 5px;
	height: 24px;
	border: 0.5px solid #0C443E;
}

.shoes_size_select {
  height: 24px;
  
  width: 10%;
  margin-left: 2%;
  display: inline-block;
  border: 0;
  outline: 0;
  font-family : sans-serif;
}

#Join {
  height: 45px;
  line-height: 35px;
  text-align: center;
  width: 17%;
  margin-left: 42%;
  margin-top: 5%;
  cursor: pointer;
  display: inline-block;
  border: 0;
  outline: 0;
  color: white;
  font-family : sans-serif;
  font-size: 140%;
  background-color: #F47C4F;
}

#reset_textarea1 {
	margin-top: 2%;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
