#main_header {
    margin-top: 30px;
    width:240px;
    height:50px;
    margin-left: 10%;
    margin-bottom: 4%;
    cursor: pointer;
    display: inline-block;
}


#LoginButton, .LoginButton {
  margin-top: 100px;
  height: 50px;
  line-height: 20px;
  text-align: center;
  width: 300px;
  border: 1px solid black;
  font-family: helvetica, serif;
  margin: 0 auto;
  margin-bottom: 50px;
  cursor: pointer;
}

#LoginNeedMessage {
	text-align: left;
	margin-bottom: 50px;
	margin-left: 10px;
	line-height: 10px;
	font-family: non-serif;
}

#CheckSizeButton, .CheckSizeButton {
  height: 80px;
  line-height: 20px;
  text-align: center;
  width: 400px;
  border: 1px solid black;
  font-weight: bold;
  font-family: "고딕";
  margin: 0 auto;
  margin-bottom: 50px;
  cursor: pointer;
}

#MakerHomepageButton, .MakerHomepageButton {
  height: 50px;
  line-height: 20px;
  text-align: center;
  width: 300px;
  border: 1px solid black;
  font-family: helvetica, serif;
  margin: 0 auto;
  margin-bottom: 50px;
  cursor: pointer;
}

#InstgramButton, .InstgramButton {
  height: 50px;
  line-height: 20px;
  text-align: center;
  width: 300px;
  border: 1px solid black;
  font-family: helvetica, serif;
  margin: 0 auto;
  margin-bottom: 50px;
  cursor: pointer;
}

#CartShoesButton, .CartShoesButton {
  height: 50px;
  line-height: 20px;
  text-align: center;
  width: 300px;
  border: 1px solid black;
  font-family: helvetica, serif;
  margin: 0 auto;
  cursor: pointer;
}
